*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <!-- Zafar -->





<!-- Jahon -->




<!-- Fazliddin -->





<!-- Abdurashid -->





<!-- Umar --> */


@media screen and (max-width:916px){
    
  /* <!-- Zafar -->





<!-- Jahon -->




<!-- Fazliddin -->





<!-- Abdurashid -->





<!-- Umar --> */
  
}


@media screen and (max-width:414px) {
    
     
  /* <!-- Zafar -->





<!-- Jahon -->




<!-- Fazliddin -->





<!-- Abdurashid -->





<!-- Umar --> */   
}
