*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <!-- Zafar -->





<!-- Jahon -->




<!-- Fazliddin -->





<!-- Abdurashid -->





<!-- Umar --> */
  .header7{
    /* driver-1 1 */
    position: absolute;
    width: 1299px;
    height: 500px;
    left: 70px;
    right: -69px;
    top: 3700px;
    bottom: -3770px;
    background-image: url(./umarbekimages/driver-1\ 1.png);
  }
  .driver{
    /* become a driver */
    position: absolute;
    width: 334px;
    height: 62px;
    left: 36px;
    right: 860px;
    top: 30px;
    bottom: -3362px;
    color: rgb(255, 255, 255);
    font-family: DM Serif Display;
    font-size: 45px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
  }
  .time{
    /* Your time. Your goals. You're the boss. */
    position: absolute;
    width: 750px;
    height: 50px;
    left: 36px;
    right: 444px;
    top: 83px;
    bottom: -3403px;
    color: rgb(255, 255, 255);
    font-family: DM Serif Display;
    font-size: 45px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
  }
  .join{
    /* suscribe and joins us */
    position: absolute;
    width: 300px;
    height: 35px;
    left: 36px;
    right: 894px;
    top: 292px;
    bottom: -3597px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
  }
  .lineinput{
    /* Rectangle 40 */
    position: absolute;
    width: 958px;
    height: 93px;
    left: 36px;
    right: -106px;
    top: 339px;
    bottom: -4109px;
    border-radius: 10px;

    background: rgb(229, 229, 229);
  }
  .header7 input{
    /* EMAIL */
    position: absolute;
    width: 89px;
    height: 35px;
    left: 27px;
    right: 736px;
    top: 29px;
    bottom: -4080px;
    color: rgba(0, 0, 0, 0.35);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: rgb(229, 229, 229);
  }
  .but{
    /* Rectangle 41 */
    position: absolute;
    width: 170px;
    height: 87px;
    left: 782px;
    right: 6px;
    top: 3px;
    bottom: -4106px;
    border-radius: 10px;
    border: none;
    background: rgb(33, 64, 142);
  }
  .but p{
    /* next */
    position: absolute;
    width: 62px;
    height: 35px;
    left: 53px;
    right: -45px;
    top: 26px;
    bottom: -4080px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
  }
  .header8{
    /* Rectangle 42 */
    position: absolute;
    width: 1440px;
    height: 202px;
    left: 0;
    right: 0;
    top: 4436px;
    bottom: -4436px;
    background: rgb(241, 188, 0);
  }
  .sub{
    /* sucribe to our newsletters */
    position: absolute;
    width: 437px;
    height: 50px;
    left: 502px;
    right: 501px;
    top: 31px;
    bottom: -4315px;
    color: rgb(0, 0, 0);
    font-family: DM Serif Display;
    font-size: 35px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
  }
  .lineinput1{
    /* Rectangle 40 */
    position: absolute;
    width: 631px;
    height: 61.26px;
    left: 405px;
    right: -405px;
    top: 102.74px;
    bottom: -4538.74px;
    border-radius: 10px;
    background: rgb(229, 229, 229);
  }
  .lineinput1 input{
    /* EMAIL */
    position: absolute;
    width: 145px;
    height: 23px;
    left: 18px;
    right: 63px;
    top: 19.26px;
    bottom: -4519.74px;
    color: rgba(0, 0, 0, 0.35);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    background: rgb(229, 229, 229);
    border: none;
    outline: none;
  }
  .but1{
    /* Rectangle 41 */
    position: absolute;
    width: 111.97px;
    height: 57.3px;
    left: 515.08px;
    right: -401.05px;
    top: 3px;
    bottom: -4536.77px;
    border-radius: 10px;

    background: rgb(33, 64, 142);
    border: none;
  }
@media screen and (max-width:916px){
    
  /* <!-- Zafar -->





<!-- Jahon -->




<!-- Fazliddin -->





<!-- Abdurashid -->





<!-- Umar --> */
  
}


@media screen and (max-width:414px) {
    
     
  /* <!-- Zafar -->





<!-- Jahon -->




<!-- Fazliddin -->





<!-- Abdurashid -->





<!-- Umar --> */   
}
